@font-face {
  font-family: 'lobster_tworegular';
  src: url('../fonts/lobstertwo-regular-webfont.woff2') format('woff2'),
       url('../fonts/lobstertwo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font: 16px robotoregular, Helvetica, arial, sans-serif;
  box-sizing:border-box;
  color: rgba(217, 217, 217, 1);
  background-color: rgb(190,190,190);
}

*, *::before, *::after {
  box-sizing: inherit;
}

@media screen and (max-width: 550px) {
  html {
    font-size: 12px;
  }
}

body {
  min-height: 100vh;
  max-width: 1400px;
  line-height: 1.6;
  margin: 0 auto;
  background-color: rgb(34, 33, 33) ;
}

  /* basic structural elements */

  header {
    position: sticky;
    top: 0px;
    display: flex;
    gap: calc(10px + 5%);
    align-items: center;
    max-height: 120px;
    width: 100%;
    padding: 18px;
    margin: 0;
    z-index: 1;
    color: rgba(45, 39, 39, 1);
    background-color: rgba(217, 217, 217, 0.9);
  }

  main {
    grid-column: main;
  }

  main article {
    padding: 2%;
  }

  aside {
    grid-column: sidebar;
    height: 100%;
    padding: 20px;
    border-radius: 20px;
    overflow: auto;
    background-color: rgba(45, 39, 39, 1);
    background: linear-gradient(180deg, rgb(70, 22, 29) 11%, rgba(69, 69, 69, 1) 100%) fixed; 
  }

  footer {
    max-height: 120px;
    padding: 15px;
    color: rgba(45, 39, 39, 1);
    background-color: rgba(217, 217, 217, 1);
  }

    /* basic elements*/

    h1 {
      font: 2.2rem lobster_tworegular, 'Brush Script MT', cursive;
      padding: 15px 0;
      margin: 0;
    }

    iframe {
      border: none; /* iframe vem com borda pre-definida, que não é desejável*/
    }

    img, object, iframe, video, audio {
      max-width: 100%;
    }

    /* form reset */

    button,
    input,
    select,
    textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    textarea {
      overflow: auto;
    }

    /*************/

    nav {
      flex: 2;
    }

    nav ul{
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: space-around;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    form {
      flex: 2;
      position: relative; /* to set the form input's position relative to the form*/
    }

      /* classes, atributtes, pseudo-classes */

      .logo {
        display: flex;
        gap: 8px;
        align-items: center;
        font: italic bold 1.6rem lobster_tworegular, 'Brush Script MT', cursive;
      }

      .subheading {
        display: block;
        font-weight: 300;
        font-size: 1rem;
      }

      @media screen and (max-width: 550px) {
        .logo {
          font-size: 1.4rem;
        }
        .subheading {
          font-size: 1rem;
        }
      }

      .logo:link, .logo:visited {
        color: rgba(45, 39, 39, 1);
      }

      .header-main {
        flex: auto;
        display: flex;
        flex-wrap: wrap;
        gap:calc(5px + 5%);
        align-items: center;
      }

      .nav-but {
        display: block;
        padding: 7px;
        border-radius: 7px;
        text-align: center;
        background-color: rgba(45, 39, 39, 1);
      } 

      
      @media screen and (max-width: 550px) {
        .nav-but {
          padding: 4px;
        }
      }

      .nav-but:hover, .nav-but:focus {
        transform: scale(1.15, 1.15);
      }

      .nav-but:active {
        background-color: rgb(190,190,190);
      }

      .github {
        flex: 1;
        color: rgba(45, 39, 39, 1);
        font: italic bold 1.5rem lobster_tworegular, 'Brush Script MT', cursive;
        background-size: 16px 16px; 
      }

      @media screen and (max-width: 550px) {
        .github {
          font-size: 1.2rem; 
        }
      }

      .github:link, .github:visited {
        color: rgba(45, 39, 39, 1);
      }

      .github:hover {
        color: rgba(226, 99, 99, 1);
      }

      .content-grid {
        display: grid;
        grid-template-columns: [main] 5fr [sidebar] 2fr;
        grid-gap: 15px;
        gap: 15px;
        padding: 15px;
      }

      @media screen and (max-width: 800px) {
        .content-grid {
          display: flex;
          flex-direction: column;
        }
      }

      input[type=search] {
        color: rgba(217, 217, 217, 1);
        font-family: inherit;
        font-size: 0.8rem;
        min-width: 140px;
        width: 100%;
        padding-left: 10px;
        padding-block: 4px;
        border: none;
        border-radius: 15px;
        background-color: rgba(45, 39, 39, 1);
      }

      input[type=search]:hover, input[type=search]:focus {
        outline: 2px solid rgba(226, 99, 99, 1);
      }

      input[type=submit] {
        position: absolute;
        right: 4px;
        top: 4px;
        width: 23px;
        border: none;
        background: url(../images/search.svg) 0 0 no-repeat;
      }

      a:link, a:visited {
        color: rgb(230, 138, 138);
      }

      a:hover, a:focus {
        text-decoration: none;
      }

      a:active {
        color: rgb(190,190,190);
      }

      header a:link, header a:visited, aside a:link, aside a:visited{
        text-decoration: none;
      }

      aside a:hover, aside a:focus {
        color: rgb(255, 79, 79);
      }

      aside a:active {
        color: rgba(45, 39, 39, 1);
      }

/* ID's */

        #first-container, #sec-container{
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          padding: 15px;
          border-radius: 20px;
          background-color: rgba(45, 39, 39, 1);
          background: linear-gradient(180deg, rgb(70, 22, 29)11%, rgba(69, 69, 69, 1) 100%) fixed; 
        }

        #first-container > div {
          flex: 1 300px;
          display: flex;
        }

        #first-container h2 {
          writing-mode:vertical-lr;
          text-align: center;
          border-radius: 10px;
          margin: 10px;
          background-color: rgba(226, 99, 99, 1);
        }

        #sec-container img:hover, #sec-container img:focus {
          box-shadow: 3px 3px 3px rgba(217, 217, 217, .5);
          transform: scale(1.15, 1.15);
        }

        @media screen and (max-width: 550px) {
          #sec-container img:hover, #sec-container img:focus {
            transform: scale(1.5, 1.5);
          }
        }

        #about-box {
          padding: 20px;
          border-radius: 20px;
          background-color: rgba(217, 217, 217, 1);
          background: url(../images/icon.svg) no-repeat bottom 5% right 5%/15%,
                      linear-gradient(180deg, rgb(70, 22, 29) 11%, rgba(69 ,69, 69, 1) 100%) fixed; 
        }

        #about-box ul {
          list-style: none;
        }

/* Design pronto para tabela */

table {
    border-collapse: collapse;
    border: 2px solid rgba(200, 200, 200, 1);
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: rgba(45, 39, 39, 1);
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 5px 5px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
    color: rgb(235,235,235);;
  }
