@font-face {
  font-family: 'lobster_tworegular';
  src: url('../fonts/lobstertwo-regular-webfont.woff2') format('woff2'),
       url('../fonts/lobstertwo-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  color: rgba(217, 217, 217, 1);
  font: 16px robotoregular, Helvetica, arial, sans-serif;
  box-sizing: border-box;
  background-color: rgb(190,190,190);
}

*, *::before, *::after {
  box-sizing: inherit;
}

@media (max-width: 500px) {
  html {
    font-size: 14px;
  }
}

body {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  background-color: rgb(34, 33, 33) ;
}

  /* basic structural elements */

  header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    color: rgba(45, 39, 39, 1);
    max-height: 120px;
    width: 100%;
    padding: 2%;
    margin: 0;
    background-color: rgba(217, 217, 217, 1);
  }

  header > * {
    margin-block: auto; /* align vertically */
  }


  main {
    display: flex;
    width: 100%;
    padding: 2%;
    line-height: 1.6;
  }

  aside {
    width:32%;
    height: 100%;
    padding: 2%;
    border-radius: 20px;
    margin-left: 2%;
    overflow: auto;
    background-color: rgba(45, 39, 39, 1);
    background: linear-gradient(180deg, rgb(70, 22, 29) 11%, rgba(69 ,69, 69, 1) 100%) fixed; 
  }

  footer {
    color: rgba(45, 39, 39, 1);
    max-height: 120px;
    padding: 2%;
    background-color: rgba(217, 217, 217, 1);
  }

    /* basic elements*/

    h1 {
      font: 2.2rem lobster_tworegular, 'Brush Script MT', cursive;
      padding: 2%;
      margin: 0;
    }

    h1 + p {
      margin-left: 2%;
    }

    iframe {
      border: none; /* iframe vem com borda pre-definida, que não é desejável*/
    }

    img, object, iframe, video, audio {
      max-width: 100%;
    }

    /* form reset */

    button,
    input,
    select,
    textarea {
    font-family: inherit;
    font-size: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }

    textarea {
    overflow: auto;
    }

      /* classes, atributtes, pseudo-classes */

      .logo {
        display: flex;
        font: italic bold 2rem lobster_tworegular, 'Brush Script MT', cursive;
      }

      .logo img {
        max-width: 20%;
        margin-right: 4px;
      }

      .subheading {
        display: block;
        font-weight: 300;
        font-size: 1.2rem;
      }

      .logo:link, .logo:visited {
        color: rgba(45, 39, 39, 1);
      }

      .nav-bar {
        padding: 0;
        display: flex;
        list-style: none;
      }

      .nav-but {
        flex: 1;
        width: 25%;
        height: 40px;
        padding-block: 10px;
        border-radius: 7px;
        text-align: center;
        background-color: rgba(45, 39, 39, 1);
      } 

      .nav-but:hover, .nav-but:focus {
        transform: scale(1.15, 1.15);
        border-bottom: 3px solid rgba(226, 99, 99, 1);
      }

      .nav-but:active {
        background-color: rgb(190,190,190);
      }

      .github {
        color: rgba(45, 39, 39, 1);
        font: italic bold 1.5rem lobster_tworegular, 'Brush Script MT', cursive;
        background: url(../images/redirect.png) no-repeat 28% 0;
        background-size: 16px 16px;
      }

      .github:hover {
        color: rgba(226, 99, 99, 1);
      }

      .content {
        width: 68%;
      }

      input[type=search] {
        color: rgba(217, 217, 217, 1);
        font-family: inherit;
        font-size: 0.8rem;
        padding: 4px 0 4px 10px;
        width: 80%;
        border: none;
        border-radius: 15px;
        background-color: rgba(45, 39, 39, 1);
      }

      input[type=search]:hover, input[type=search]:focus {
        outline: 2px solid rgba(226, 99, 99, 1);
      }

      input[type=submit] {
        width: 20%;
        padding: 5px;
        border: none;
        float: right;
        background: url(../images/search.svg) 0 0 no-repeat;;
      }

      a:link, a:visited {
        color: rgb(230, 138, 138);
      }

      a:hover, a:focus {
        text-decoration: none;
      }

      a:active {
        color: rgb(190,190,190);
      }

      header a:link, header a:visited, aside a:link, aside a:visited{
        text-decoration: none;
      }

      aside a:hover, aside a:focus {
        color: rgb(255, 79, 79);
      }

      aside a:active {
        color: rgba(45, 39, 39, 1);
      }

/* ID's */

        #first-container, #sec-container{
          display: flex;
          overflow: hidden;
          padding: 2%;
          border-radius: 20px;
          background-color: rgba(45, 39, 39, 1);
          background: linear-gradient(180deg, rgb(70, 22, 29)11%, rgba(69, 69, 69, 1) 100%) fixed; 
        }

        #sec-container img {
          margin-right: 2%;
        }

        #sec-container img:hover, #sec-container img:focus {
          box-shadow: 6px 6px 6px rgba(217, 217, 217, 1);
          transform: scale(1.05, 1.05);
        }

        #first-container > h2 {
          writing-mode: vertical-lr;
          text-align: center;
          border-radius: 10px;
          margin-block: 2%;
          background-color: rgba(226, 99, 99, 1);
        }

        #about-box {
          padding: 2%;
          border-radius: 20px;
          background-color: rgba(217, 217, 217, 1);
          background: url(../images/icon.svg) no-repeat bottom 50px right 50px/15%,
                      linear-gradient(180deg, rgb(70, 22, 29) 11%, rgba(69 ,69, 69, 1) 100%) fixed; 
        }

        #about-box ul {
          list-style: none;
        }









/* Design pronto para tabela */

table {
    border-collapse: collapse;
    border: 2px solid rgba(200, 200, 200, 1);
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: rgba(45, 39, 39, 1);
  }
  
  td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(235,235,235);
  }
  
  td {
    text-align: center;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(250,250,250);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
  }
  
  caption {
    padding: 10px;
    color: rgb(235,235,235);;
  }
